.user-card {
    font-family: Arial;
    font-size: 20px;
    border-radius: 8px;
    width: 300px;
    background-color: aqua;
    list-style: none;
    padding: 10px;
    transition: background 2s;
    box-shadow: 5px 20px 30px rgba(46, 92, 241, 0.4);
    color: mediumslateblue;
}